<div class="pl">
    <main class="pl__main">
        <div class="pl__nav">
            {{> sideNav context}}
        </div>
        <div class="pl__content">
            <section class="pl-desc">
                <h1 class="pl-desc__header">Site Info</h1>
                <div class="pl-desc__divider"></div>
                <h1 clss="pl-desc__title">{{context.app.name}} v{{context.app.version}}</h1>
                <p class="pl-desc__content">{{context.app.description}}</p>
                <a class="pl-desc__link"href="/api" target="_blank">View Data</a>
            </section>
            <div id="react-root">{{{react}}}</div>
        </div>
    </main>
</div>


<script>
    var reactClient = {{{json reactClient}}};
</script>
