<div class="container">
    <h2>{{this.title}}</h2>
    <p>{{this.text}}</p>
    <table class="table">
        <thead>
            <tr>
                {{#each this.head}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each this.row}}
            <tr class="{{this.theme}}">
                <td>{{this.first}}</td>
                <td>{{this.second}}</td>
                <td>{{this.third}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
