{{#if components}}
<ul>
     <li>Components
    {{#each components}}
    <li>
      <a href="/component/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
    </li>
</ul>
{{/if}}

{{#if templates}}
<ul>
     <li>Templates
    {{#each templates}}
    <li>
      <a href="/template/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
    </li>
</ul>
{{/if}}

{{#if patterns}}

<ul>
    <li>Patterns
    {{#each patterns}}
    <li>
      <a href="/pattern/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
    </li>
</ul>
{{/if}}
