@import 'vars/vars';

@import 'vendor/vendor';

/**************************************************
*   PL
***************************************************/

.pl {
    color: $colors__text;
    display: flex;
    flex-direction: column;
    &__main {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        flex: 1;
    }
    &__content {
        flex: 1;
    }
    &__nav {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
    }
}


/**************************************************
*   SideNav
***************************************************/

.pl-sideNav {
    position: fixed;
    top: 0;
    left: 1rem;
    &__header {
        color: $colors__base;
        font-family: $font__alfa;
        letter-spacing: 2px;
        margin: 20px 0 0 0;
        text-transform: uppercase;
        font-size: 18px;
    }
    &__list {
        list-style: none;
        padding: 0;
    }
    &__list-item {}
    &__link {
        color: $colors__text;
        font-size: 14px;
        font-family: $font__pt;

        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}


/**************************************************
*   Description
***************************************************/

.pl-desc {
    margin: 0 0 60px 0;
    &__divider {
        background: $colors__accent;
        display: block;
        width: 100%;
        height: 5px;
    }
    &__header {
        color: $colors__base;
        font-family: $font__alfa;
        font-size: 28px;
        letter-spacing: 2px;
        margin: 1rem 0 0 0;
        text-transform: uppercase;
    }
    &__link {
        background: $colors__accent;
        color: $colors__text--white;
        display: inline-block;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 3px;
        margin: 0.5rem 0 0;
    }
    &__content {}
}


/**************************************************
*   Components
***************************************************/

.pl-component {
    margin: 5rem 0;
    &__docs {
        background: #eee;
        padding: 1rem;
    }
    &__title {
        font-family: $font__alfa;
        font-size: 28px;
        letter-spacing: 2px;
        margin: 20px 0 0 0;
        text-transform: uppercase;
    }
    &__title-link {
        color: $colors__base;
        text-decoration: none;
        &:hover:after {
            color: $colors__text;
            content: "/view";
            font-size: 14px;
        }
    }
    &__iframe {
        border: 0;
        width: 100%;
    }
    &__underline {
        background: $colors__accent;
        display: block;
        width: 100%;
        height: 5px;
    }
}

body {
    font-family: $font__pt;
}


pre[class*="language-"] {
    margin: 0 !important;
}

.ReactTabs__TabList {
    border-bottom: 5px solid #4285f4 !important;
    margin: 0 !important;
}

.ReactTabs__Tab {
    border-radius: 0 !important;
    border: none !important;
        color: $colors__text--muted;
    font-family: $font__alfa !important;
    &--selected {
        border-bottom: 5px solid #4285f4 !important;
        color: $colors__text;
    }
}
